RESEND_API_KEY=your_resend_api_key
SITE_URL=https://maestrosservices.com
TO_EMAIL=quotes@maestrosservices.com
FROM_EMAIL=Maestros Services <quotes@maestrosservices.com>
TURNSTILE_SECRET=your_turnstile_secret
TURNSTILE_REQUIRED=true
PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
PUBLIC_GA_ID=G-XXXXXXXXXX
GOOGLE_GA4_PROPERTY_ID=123456789
GOOGLE_SEARCH_CONSOLE_PROPERTY=sc-domain:maestrosservices.com
GOOGLE_ACCOUNT_EMAIL=you@example.com
GOOGLE_OAUTH_CLIENT_ID=your_google_oauth_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_google_oauth_client_secret
GOOGLE_OAUTH_REFRESH_TOKEN=your_google_oauth_refresh_token
