RESEND_API_KEY=your_resend_api_key
SITE_URL=https://maestrosservices.com
TO_EMAIL=quotes@maestrosservices.com
FROM_EMAIL=Maestros Services <quotes@maestrosservices.com>
TURNSTILE_SECRET=your_turnstile_secret
TURNSTILE_REQUIRED=true
PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
PUBLIC_GA_ID=G-XXXXXXXXXX
PUBLIC_GOOGLE_ADS_ID=AW-XXXXXXXXXX
PUBLIC_GOOGLE_ADS_QUOTE_LABEL=AW-XXXXXXXXXX/quote_label_here
PUBLIC_GOOGLE_ADS_PHONE_LABEL=AW-XXXXXXXXXX/phone_label_here
PUBLIC_GOOGLE_ADS_SMS_LABEL=AW-XXXXXXXXXX/sms_label_here
GOOGLE_GA4_PROPERTY_ID=123456789
GOOGLE_SEARCH_CONSOLE_PROPERTY=sc-domain:maestrosservices.com
GOOGLE_ACCOUNT_EMAIL=you@example.com
GOOGLE_OAUTH_CLIENT_ID=your_google_oauth_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_google_oauth_client_secret
GOOGLE_OAUTH_REFRESH_TOKEN=your_google_oauth_refresh_token
GOOGLE_GBP_OAUTH_CLIENT_ID=your_google_gbp_oauth_client_id
GOOGLE_GBP_OAUTH_CLIENT_SECRET=your_google_gbp_oauth_client_secret
GOOGLE_GBP_OAUTH_REFRESH_TOKEN=your_google_gbp_oauth_refresh_token
GOOGLE_GBP_ACCOUNT_NAME=accounts/123456789012345678901
GOOGLE_GBP_LOCATION_NAME=locations/1234567890123456789
GOOGLE_ADS_DEVELOPER_TOKEN=your_google_ads_developer_token
GOOGLE_ADS_CUSTOMER_ID=1234567890
GOOGLE_ADS_LOGIN_CUSTOMER_ID=1234567890
GOOGLE_ADS_OAUTH_CLIENT_ID=your_google_ads_oauth_client_id
GOOGLE_ADS_OAUTH_CLIENT_SECRET=your_google_ads_oauth_client_secret
GOOGLE_ADS_OAUTH_REFRESH_TOKEN=your_google_ads_oauth_refresh_token
